<div class="Blocks-Banner">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          context: "Department for Research and Development",
          title: "Make GOVUK Campaigns Great again",
          inverse: true,
          padded: true,
          heading_level: 1,
          font_size: "xl"
        } %>
        <p class="govuk-body-l govuk-body--inverse">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
  </div>
</div>