// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Blocks-Banner {
  background-color: #1d70b8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Blocks-Content {
  padding-top: 20px;
  padding-bottom: 20px;
}